# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual environments
.venv/
venv/
ENV/
env/

# Logs / OS
*.log
.DS_Store

# Editors
.vscode/
.idea/

# (Optional) if you don't want runtime data in git:
# waterapp/waterapp/schedules.json
